<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AA Architecture - Home</title>
        <link rel="stylesheet" type="text/css" href="../app.component.css">
    </head>
    
    <body>
        <img src="./../../assets/istock-logo.jpg">
    
        <h3>Log in to Your Account</h3>
        <div class="body">
            <form>
                <br>
                <label for="username">Username: </label>
                <input type="text" name="username" placeholder="john@email.com" required>
                <br>
                <br>
                <label for="password">Password: </label>
                <input type="text" name="password" placeholder="minimum 8 characters" required>
                <br>
                <br>
                <input type="checkbox" checked="checked" name="rememberMe"> Remember Me
                <br>
                <br>
                <input type="submit" value="LOGIN" class="submitButton">
                <br><br>
                <em><a href="./register.html">Not registered? Click here to sign up!</a></em>
            </form>
        </div>
    </body>
</html>